<%= content_for :head do %>
  <%= javascript_include_tag 'views/demo' %>
<% end %>

<div class="left_container">
  <p>Left-click to draw on canvas below, right-click to remove.</p>
  <canvas id="bitpad"></canvas>
  <p>Click Save BitPad to check out performance details.</p>
</div>

<div class="right_container">
  <h3>Customize BitPad Options</h3>
  <input id="col" type="text" value="12" style="width: 30px"/>&nbsp;Columns
  <br>
  <input id="row" type="text" value="10" style="width: 30px"/>&nbsp;Rows
  <br>
  <input id="scale" type="text" value="1.0" style="width: 50px"/>&nbsp;Scale
  <br><br>

  <a id="update" href="javascript:void(0)">Update BitPad</a>
  <br><br>

  <a id="load" href="javascript:void(0)">Load BitPad</a>
  <br><br>
  <a id="save" href="javascript:void(0)">Save BitPad</a>
  <br>
  <textarea class="save_code" spellcheck="false" readonly="true" style="width: 100%; resize: none; outline: none; min-height: 200px; display: none;"></textarea>
</div>

