<%= content_for :head do %>
  <%= javascript_include_tag 'views/editor' %>
<% end %>

<div class="instructions">
  Left-click to fill in a pixel.
  Right-click to erase.
</div>

<div class="main_editor">
  <div class="prev">
    <img src="" alt="Previous frame">
  </div>

  <div class="current">
    <canvas id="editor" width="10" height="10"></canvas>
  </div>

  <div class="next">
    <a>Create Next Frame</a>
  </div>
</div>

<div class="instructions">
  This page is pseudo-responsive, which is why the BitPad does not fully fill it's container. The page is responsive, but the columns/rows stay constant. This demonstrates the BitPad's ability to resize within its container. 
</div>