<div class="instructions">
  <b>BitPad</b> allows you to create simple animations, and store them very efficiently.
  <br><br>
  <b>BitPad.js</b> is a jQuery UI Widget that allows you to create a resizable, customizable BitPad canvas off any element.
  <br><br>
  <a href="/demo">See a demo</a>
  <br><br>
  <a href="/editor">Create a BitPad animation</a>
</div>