body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Courier New';
  color: #333;
  background-color: #fff;
}

.content_container {
  min-width: 910px;
  width: 80%;
  margin: 0 auto;
  background-color: #FCFCFC;  
}

canvas {
  border: 1px solid #666;
  display: block;
  margin: 0 auto;
}

h1, h3 {
  text-align: center;
}

a {
  color: #666;
}

a:hover {
  color: #999;
}

.instructions {
  width: 300px;
  text-align: center;
  border: 1px solid #333;
  padding: 18px;
  background-color: rgba(0,0,0,0.05);
  margin: 0 auto;
}

.left_container {
  width: 500px;
  display: block;
  float: left;
  margin-left: 12px;
}

.right_container {
  float: right;
  width: 500px;
  margin-right: 12px;
}

input {
  outline: 0;
  padding: 8px;
  border-radius: 4px;
  font-size: 18px;
  font-family: 'Courier New';
}